
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


/*--------------------------------------------------------------
1. - General
--------------------------------------------------------------*/

 html, body {

    font-weight: 100;
    margin: 0;
    height: 100vh;
    background: url("/images/overlay-carbon.png") repeat 0 0;
    font-family: 'Josefin Sans', sans-serif !important;
    background-attachment: fixed;
}


/*--------------------------------------------------------------
2. - Laravel inherited
--------------------------------------------------------------*/
.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* my changes */

/*--------------------------------------------------------------
3. - Landing page
--------------------------------------------------------------*/

.stiky-home h2, .featured-home h2{
    font-size: 50px;
    margin-top: 30px;
}
/*--------------------------------------------------------------
3. - Admin section
--------------------------------------------------------------*/

.page-logo img {
	margin-right: 1.25rem;
}

.page-btns {
	margin-top: 3px;
	float: right;
}

.film-thumbnail {
	margin-right: 10px;
}

.card-body {
	 padding: 0;
}

.navi {
	display: inline;
}

.table th {
	border-top: none;
}

.table th:first-child, .table td:first-child, .card-header {
	padding-left: 2rem;
}
.card-body .show {
	padding: 0 2rem 2rem;
}

.table td {
	vertical-align: middle;
}

.separator {
	border-right: 1px solid;
	margin-right: 10px;
	padding-right: 10px;
}

/*--------------------------------------------------------------
12 Media
--------------------------------------------------------------*/

.image-box img {
    float: left;
    margin:2px;
    height: 200px;
    width: 130px;
}

.image {
margin: 2px;
max-height: 100%;
width: 100%;
}
