
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

//my chenges

.page-logo img {
	margin-right: 1.25rem;
}

.page-btns {
	margin-top: 3px;
}

.film-thumbnail {
	margin-right: 10px;
}

.play {
	margin-top: -10px;
}

.card-body {
	 padding-top: 0;
}

.navi {
	display: inline;
}