
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

body {
    height: 100vh;
    background: url("/images/overlay-carbon.png") repeat scroll 0 0;
    font-family: 'Josefin Sans', sans-serif !important;
}

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

/* my changes */

.page-logo img {
	margin-right: 1.25rem;
}

.page-btns {
	margin-top: 3px;
	float: right;
}

.film-thumbnail {
	margin-right: 10px;
}

.card-body {
	 padding: 0;
}

.navi {
	display: inline;
}

.table th {
	border-top: none;
}

.table th:first-child, .table td:first-child, .card-header {
	padding-left: 2rem;
}
.card-body .show {
	padding: 0 2rem 2rem;
}

.table td {
	vertical-align: middle;
}

.separator {
	border-right: 1px solid;
	margin-right: 10px;
	padding-right: 10px;
}